/build/
/out/
/classes/

/.gradle/
/gradle-app.setting

/run/
/runs/
/run-data/

/.idea/
/.vscode/
/.eclipse/
/.settings/
/.project
/.classpath
/eclipse/
*.iml
*.ipr
*.iws

.DS_Store
Thumbs.db

*.log
/logs/
/crash-reports/

/forge-*-changelog.txt

/src/main/resources/shinoyuki_betterautosave.refmap.json

*.jar
!gradle/wrapper/gradle-wrapper.jar
